<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" type="button">
            <ion-label (click)="goHome()">
                <ion-icon name="arrow-back"></ion-icon> {{ 'back' | translate }}</ion-label>
        </ion-buttons>
        <ion-title>
            {{ 'stats_title' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- select month -->
    <ion-list lines="full" class="margin-bottom-0">
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <ion-item>
                    <ion-icon name="calendar"></ion-icon>
                    <ion-datetime [(ngModel)]="datepicker" (ngModelChange)="show()" placeholder="{{ 'select' | translate }}" display-format="MMMM, YYYY" picker-format="MMMM, YYYY" monthNames="{{ 'home_months' | translate }}"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-list>
    <!-- end select month -->

    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <ion-text>{{ 'stats_monthly' | translate }}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col *ngIf="showStats">
                    <canvas baseChart [options]="doughnutChartOptions" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
      </canvas>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <ion-text>{{ 'stats_year' | translate }}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col *ngIf="showStatsAnual">
                    <canvas baseChart [options]="doughnutChartOptions" [data]="doughnutChartDataAnual" [labels]="doughnutChartLabelsAnual" [chartType]="doughnutChartType">
      </canvas>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>