<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col text-center>Selecciona una categoria</ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-grid>
            <ion-row text-center>
                <ion-col size="4" *ngFor="let item of categories" align-self-center (click)="selectedCategory(item.id)">
                    <img draggable="false" [src]="'../../../assets/icons/' + item.icon" style="width: 50px; display: block; margin-left: auto; margin-right: auto;">
                    <ion-text>{{ item.es }}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>