<ion-app>
    <ion-split-pane>

        <!-- init menu -->
        <ion-menu type="overlay">

            <ion-content>

                <ion-list>
                    <ion-item color="secondary">
                        <ion-avatar slot="start">
                            <img src="../assets/avatar.jpg">
                        </ion-avatar>
                        <ion-label>
                            <h3>Iniciar sesión </h3>
                        </ion-label>
                    </ion-item>
                </ion-list>

                <ion-list lines="none">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

            </ion-content>

        </ion-menu>
        <!-- end menu -->

        <ion-router-outlet main></ion-router-outlet>

    </ion-split-pane>
</ion-app>