<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ storageWallet }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- balance -->
    <ion-grid lines="full" class="bg-color-tertiary">
        <ion-row>
            <ion-col size="8" padding>
                <div>
                    <ion-text class="px12">{{ 'home_balance_mensual' | translate }}</ion-text>
                </div>
                <div>
                    <ion-text class="px22">{{ storageCoin }} {{ monthBalance | number : '1.2-2' }}</ion-text>
                </div>
                <div *ngIf="storageAnual">
                    <ion-text class="px12">{{ 'home_balance_total' | translate }}</ion-text>
                </div>
                <div *ngIf="storageAnual">
                    <ion-text class="px16">{{ storageCoin }} {{ accountBalance | number : '1.2-2' }}</ion-text>
                </div>
            </ion-col>

            <ion-col size="4" padding text-right>
                <div>
                    <ion-text class="px12">{{ 'home_incomes' | translate }}</ion-text>
                </div>
                <div>
                    <ion-text class="px16">{{ storageCoin }} {{ monthIncome | number : '1.2-2' }}</ion-text>
                </div>
                <div>
                    <ion-text class="px12">{{ 'home_expenses' | translate }}</ion-text>
                </div>
                <div>
                    <ion-text class="px16">{{ storageCoin }} {{ monthExpense | number : '1.2-2' }}</ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- end balance -->

    <!-- select month -->
    <ion-list lines="full" class="margin-bottom-0">
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <ion-item>
                    <ion-icon name="calendar"></ion-icon>
                    <ion-datetime [(ngModel)]="datepicker" (ngModelChange)="show()" placeholder="{{ 'select' | translate }}" display-format="MMMM, YYYY" picker-format="MMMM, YYYY" monthNames="{{ 'home_months' | translate }}"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-list>
    <!-- end select month -->

    <!-- list -->
    <ion-card *ngIf="itemsShow.length > 0">
        <ion-grid>
            <ion-row *ngFor="let item of itemsShow" class="padding-list px15" (click)="detailModal(item)">
                <ion-col size="1" class="ion-text-center">
                    <ion-text>
                        <img [src]="item.category | categories: 'iconurl'" alt="" style="margin-top: 5px;">
                    </ion-text>
                </ion-col>
                <ion-col size="7">
                    <div>
                        <ion-text>
                            {{ item.title | titlecase }}
                        </ion-text>
                    </div>
                    <div>
                        <ion-text class="text-grey px12"> {{ item.category | categories: 'name' }} </ion-text>
                    </div>
                </ion-col>
                <ion-col class="ion-text-right">
                    <div>
                        <ion-text [className]="(item.amount>=0) ? 'text-green' : ''">
                            {{ storageCoin }} {{ item.amount | number : '1.2-2' }}
                        </ion-text>
                    </div>
                    <div>
                        <ion-text class="text-grey px12"> {{ item.date | fixdate }} </ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!-- end list -->

    <ion-card *ngIf="itemsShow.length===0">
        <img src="../../../assets/example.jpg" />
        <ion-card-header>
            <ion-card-subtitle>{{ 'home_card_start' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'home_card_welcome' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ 'home_card_content' | translate }}</p>
        </ion-card-content>
    </ion-card>


    <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="add()">
        <ion-fab-button color="danger">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>