<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" type="button">
            <ion-label (click)="goHome()">
                <ion-icon name="arrow-back"></ion-icon> {{ 'back' | translate }}</ion-label>
        </ion-buttons>
        <ion-title>
            {{ 'add' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- init add -->
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="stacked">{{ 'amount' | translate }} €
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="number" #amount step="0.01" class="ion-text-center px24" placeholder="0.00" autofocus="true"></ion-input>
        </ion-item>

        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text *ngIf="type=='expense'" (click)="changeType('income')" color="danger">{{ 'add_expense' | translate }}
                            <ion-icon name="arrow-down"></ion-icon>
                        </ion-text>
                        <ion-text *ngIf="type=='income'" (click)="changeType('expense')" class="text-green">{{ 'add_income' | translate }}
                            <ion-icon name="arrow-up"></ion-icon>
                        </ion-text>
                    </ion-col>
                    <ion-col class="ion-text-right" (click)="detailModal()">

                        <ion-text color="primary" *ngIf="!selectedCategory">
                            {{ 'category' | translate }}
                            <ion-icon name="arrow-forward"></ion-icon>
                        </ion-text>

                        <ion-text color="primary" *ngIf="selectedCategory > 0">
                            <ion-chip class="ion-margin-start">
                                <ion-avatar>
                                    <img src="{{ selectedCategory | categories: 'iconurl' }}" alt="">
                                </ion-avatar>
                                <ion-label>{{ selectedCategory | categories: 'name' }}</ion-label>
                            </ion-chip>
                        </ion-text>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-text [class.text-blue]="(selected==='yesterday')" (click)="changeSelected('yesterday')">{{ 'add_yesterday' | translate }}</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-text [class.text-blue]="(selected==='today')" (click)="changeSelected('today')">{{ 'add_today' | translate }}</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-item (click)="changeSelected('other')">
                            <ion-datetime #datetime placeholder="{{ 'add_other' | translate }}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{ 'add_concept' | translate }}
            </ion-label>
            <ion-input type="text" [(ngModel)]="newItem.title" placeholder="..."></ion-input>
        </ion-item>

    </ion-list>

    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="addItem(amount.value, datetime.value)">{{ 'add' | translate }}</ion-button>
    </div>
    <!-- end add -->

</ion-content>